
@media screen and (min-width:600px){
    .container {
       width: 700px;
       margin: 4rem auto;
    }
    .header {
        padding: 2rem;
    }
    .main {
        display: flex;
    }
    .sub, 
    .details {
        width: 50%;
        padding: 2rem;
    }
}
